@page "/"
@inject IConfiguration config

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>


<p>
    MySetting Value: @mySetting
</p>
<p>
    MySubSetting Value: @mySubSetting
</p>
<p>
    mySubSubSetting Value: @mySubSubSetting
</p>
<p>
    connectionString Value: @connectionString
</p>
@code {
    string mySetting = string.Empty;
    string mySubSetting = string.Empty;
    string mySubSubSetting = string.Empty;
    string connectionString = string.Empty;
    protected override void OnInitialized()
    {
        mySetting = config.GetValue<string>("MySettings")!;
        mySubSetting = config.GetValue<string>("MainSetting:SubSetting")!;
        mySubSubSetting = config.GetValue<string>("MainSetting:SubSection:SubSubSetting")!;
        connectionString = config.GetConnectionString("Default")!;
    }

}
