@page "/"
@inject IConfiguration config

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>


<p>
    MySetting Value: @mySetting
</p>
@code {
    string mySetting = string.Empty;
    protected override void OnInitialized()
    {
        mySetting = config.GetValue<string>("MySettings")!;
    }

}
